@media (max-width: 1350px) {
  .form {
    &__content {
      padding: 50px 40px;
    }
  }
}

@media (max-width: 1260px) {
  .header {
    &__nav-list {
      gap: 20px;
    }

    &__phone {
      font-size: 22px;
    }

    &__contacts span {
      font-size: 14px;
    }

    &__logo-box {
      width: 200px;
    }

    &__nav-item a {
      font-size: 16px;
    }
  }

  .services {
    &__inner {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__item span {
      max-width: initial;
    }
  }

  .prices {
    &__item {
      flex-direction: column;
      gap: 5px;
    }

    
  }

  .promo {
    &__title {
      font-size: 23px;
      line-height: 120%;
    }
  }

  .benefits {
    .benefits-slider-next {
      right: 0;
    }
  
    .benefits-slider-prev {
      left: 0;
    }
  }

  .reviews {
    .reviews-slider-prev {
      left: 0;
    }

    .reviews-slider-next {
      right: 0;
    }
  }

  .team {
    &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__link {
      order: -1;
      grid-column-start: span 4;
    }

    &__link-text {
      margin-bottom: 30px;
    }

    img {
      width: 100%;
    }
  }

  .about {
    &__content-box {
      max-width: 590px;
    }

    &__inner {
      padding: 35px;
    }
  }

  .form {
    flex-direction: column;

    &__content {
      max-width: 1260px;
    }

    &__textarea {
      max-width: 660px;
    }
  }

  .footer {
    &--bg {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 1150px) {
  .promo {
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 40px 15px;

    &--bg {
      bottom: initial;
    }

    &__link {
      margin-bottom: 20px;
    }
  }

  .about {
    &__content-box {
      max-width: 500px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    &__nav {
      display: none;
    }

    &__logo-box {
      margin-right: auto;
    }

    &__contacts {
      display: none;
    }
    
    &__burger {
      display: block;

      svg {
        display: block;
      }
    }

    &__btn {
      margin-right: 10px;
      width: 138px;
      height: 42px;
      font-size: 12px;
      line-height: 1;
      padding: 0;
    }
  }

  .banner {
    &--bg {
      display: none;
    }
  }

  .remont {
    &__inner {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .about {
    &__content-box {
      max-width: 400px;
    }
  }
}

@media (max-width: 900px) {
  .about {
    &__inner {
      padding: 20px;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 850px) {
  .about {
    &__inner {
      padding: 0;
      flex-direction: column-reverse;
      border-radius: 0;
      gap: 0;
    }

    &__img-box {
      border-radius: 0;
    }

    &__content-box {
      padding: 30px 20px 20px 20px;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    height: 400px;

    &__adress {
      padding: 5px 10px;
      
      span {
        font-size: 14px;
      }
    }

    &__title {
      font-size: 32px;
    }

    &__title-one {
      font-size: 22px;
    }
  }

  .services {
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__inner {
      grid-template-columns: 1fr 1fr;
    }
  }

  .prices {
    &__item {
      padding: 20px;
    }

    &__item-title {
      font-size: 14px;
      line-height: 19px;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    } 
  }

  .promo {
    &--bg, &__img {
      img {
        width: 100%;
      }
    }

    &--bg {
      bottom: initial;
    }
  }
  
  .remont {
    padding: 40px 0;

    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .benefits {
    &__title {
      margin-bottom: 20px;
      font-size: 24px;
    }

    padding: 40px 0;
  }

  .reviews {
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .team {
    margin-bottom: 50px;

    &__link-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__inner {
      grid-template-columns: 1fr 1fr;
    }

    &__link {
      grid-column-start: span 2;
    }

    &__item:nth-child(odd) {
      margin-left: auto;
    }
  }

  .gallery {
    &__row {
      gap: 10px;
    }
    
    &__rows {
      gap: 10px;
    }

    &__img-box {
      border-radius: 5px;

      img {
        border-radius: 5px;
      }
    }
  }

  .form {
    &__img-box {
      max-width: 768px;
      width: 100%;

      img {
        width: 100%;
        display: block;
      }
    }

    &__content {
      padding: 32px 10px;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 600px) {
  .remont {
    &__inner {
      grid-template-columns: 1fr 1fr;
    }
  }

  .about {
    .container {
      padding: 0;
    }

    &__img-box {
      max-width: 600px;
      width: 100%;
    }

    &__content-box {
      padding: 20px 10px 30px 10px;
    }
  }

  .form {
    &__input-box {
      flex-direction: column;
      gap: 10px;
    }

    &__label-box {
      gap: 15px;
    }
    
    &__bot {
      flex-direction: column;
    }
  }

  .footer {
    &__inner {
      flex-direction: column;
      gap: 80px;
    }

    &__contacts {
      text-align: start;
    }

    &__adress {
      text-align: start;
    }

    &__social {
      justify-content: start;
    }
  }

  .map {
    height: 400px;
  }
}

@media (max-width: 450px) {
  .form {
    &__label-box {
      flex-direction: column;
    }
  }
}

@media (max-width: 500px) {
  .header {
    padding: 11px 0;

    &__logo-box {
      width: 200px;

      img {
        width: 100%;
      }
    }

    &__btn  {
      width: 118px;
      height: 32px;
    }
  }

  .drawer-menu {
    &__inner {
      flex-direction: column;
      gap: 60px;
    }

    .footer__contacts {
      text-align: start;
    }

    .footer__adress {
      text-align: start;
    }

    .footer__social {
      justify-content: start;
    }
  }

  .services {
    &__item {
      gap: 10px;

      span {
        font-size: 14px;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .prices {
    &__inner {
      grid-template-columns: 1fr;
    }
  }

  .promo {
    gap: 0;

    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }

  }

  .remont {
    &__item-text {
      font-size: 16px;  
      padding-bottom: 10px;
    }
  }

  .benefits {
    &__slider-item {
      max-width: 260px;
      height: 270px;
    }
  }

  .reviews {
    &__slider-item {
      max-width: 340px;
      height: 300px;
    }
  }
}